.account_container {
    display: grid;
    grid-template-columns: 20vw 80vw;
}

.menu {
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .7em 0 .7em .7em;
    word-wrap: break-word;
    border-radius: 4px;
}

.menu:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}

.menu:active {
    background-color: var(--light-gray);
}

.menu_box {
    box-shadow: var(--shadow);
    padding-top: 3em;
}

.amount-container > input[type=text] {
    width: 40px;
    padding: 3px 0 0 0;
    text-align: center;
}

.amount-container > div {
    height: min-content;
}

button {
    padding: 0.1rem;
    margin-bottom: 8px;

}
 a:link {
     color: black;
     text-decoration: none;
 }

 a:hover {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

#save_contact {
    margin-top: 1em;
}

#cancel {
    background-color: rgb(221, 221, 221);
}

.order {
    padding-left: 50px;
    padding-right: 50vw;
    text-align: left;
}