:root {
    --shadow: 0 4px 8px hsla(0, 0%, 27%, .15);
    --shadow-alt: 6px 6px 18px 0 rgba(0, 0, 0, .08);
    --main-color: linear-gradient(-33deg, hsl(133, 48%, 62%), hsl(133, 55%, 62%));
    --main-color-solid: hsl(133, 48%, 62%);
    --main-color-hover: hsl(133, 48%, 68%);
    --font-color: #224;
    --tint-1: #fff;
    --tint-2: hsl(133, 48%, 97%);
    --gray: hsl(131, 10%, 78%);
    --light-gray: hsl(131, 10%, 90%);
}

body {
    display: grid;
    grid-template-rows: 5em auto 10%;
    grid-template-columns: 100vw;
    margin: 0;
    font-family: "Jost", sans-serif;
    background-color: var(--tint-1);
    color: var(--font-color);
}

aside {
    grid-row: 2;
    grid-column: 1;
}

nav {
    grid-row: 1;
    grid-column: 1 / 3;
    background: var(--main-color);
    display: flex;
    align-items: center;
}

nav > * {
    margin: 0 .75em;
}

.logo {
    height: 4em;
}

.search {
    background: url("magnifier.svg") no-repeat 1em 50%;
    font-family: "Jost", sans-serif;
    font-size: 1.5em;
    background-color: var(--tint-2);
    background-size: 1.5rem;
    border: solid 1px var(--gray);
    border-radius: 4rem;
    padding: .5rem 1rem;
    padding-left: 3.5rem;
    margin-left: auto;
    margin-right: .75rem;
}

.products-and-categories-container {
    display: grid;
    grid-template-columns: 20% auto;
}

.products {
    grid-row: 2;
    grid-column: 2;
    margin: 10px;
    display: flex;
}

.product-card {
    box-shadow: 0 4px 24px lightgrey;
    border-radius: .5em;
    height: max-content;
    width: max-content;
    overflow: hidden;
    margin: 0 .75em .75em .75em;
    text-align: center;
}

.amount-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.plus:hover,
.minus:hover {
    cursor: pointer;
}

.add-to-cart:hover {
    cursor: pointer;
}

.category {
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5em 0 .5em .5em;
    word-wrap: break-word;
}

.add-to-cart,
.price {
    margin: 10px;
}

.category:hover {
    cursor: pointer;
    background-color: white;
}

.category_box {
    background-color: #f2f2f2;
}

/* Form ja selle inputid */

form {
    display: flex;
    width: 16em;
    flex-direction: column;
    margin: 3em auto;
}

form > input,
div,
select {
    margin-bottom: 1em;
}

input:not([type="file"]):not(.search),
select {
    font-family: "Jost", sans-serif;
    font-size: 1.25em;
    border: 2px solid var(--gray);
    border-radius: 0;
    padding: .5rem .25rem;
    color: black;
}

label {
    font-size: 1.25em;
}

input[type="number"] {
    width: 33%;
}

/* Faili üleslaadimine ja nupud */

input[type="file"] {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-container {
    font-size: 1.25em;
    padding: .25em;
    border: 2px solid var(--gray);
    display: flex;
    align-items: center;
    transition: box-shadow, background-color .25s ease;
}

.upload-container > svg {
    margin: 0 .66em 0 .33em;
}

.upload-container > label {
    cursor: pointer;
}

button {
    background-color: var(--main-color-solid);
    font-family: "Jost", sans-serif;
    font-size: 1.5em;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0;
    transition: box-shadow, background-color .25s ease;
}

button:hover {
    cursor: pointer;
    background-color: var(--main-color-hover);
}

.upload-container:hover {
    cursor: pointer;
    background-color: var(--light-gray);
}