:root {
    --shadow: 0 4px 24px hsla(0, 0%, 27%, .15);
    --big-shadow: 0 6px 16px 0 rgba(0, 0, 0, .08);
    --main-color: linear-gradient(-33deg, hsl(133, 48%, 62%), hsl(133, 55%, 62%));
    --font-color: #224;
    --tint-1: #fff;
    --tint-2: hsl(133, 48%, 97%);
    --gray: hsla(133, 45%, 67%, .1);
    --gray-2: rgb(193, 204, 195);
}

body {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 5em auto 10%;
    margin: 0;
    font-family: "Jost", sans-serif;
    background-color: var(--tint-1);
}

aside {
    grid-row: 2;
    grid-column: 1;
}

nav {
    grid-row: 1;
    grid-column: 1 / 3;
    background: var(--main-color);
    display: flex;
    align-items: center;
}

nav > * {
    margin: 0 .75em;
}

.logo {
    height: 4em;
}

.search {
    background: url("magnifier.svg") no-repeat 1em 50%;
    background-color: var(--tint-2);
    background-size: 1.5em;
    border: solid 3px var(--gray);
    border-radius: 4em;
    box-shadow: var(--shadow);
    padding: .75em 1em;
    padding-left: 3em;
    margin-left: auto;
    margin-right: .75em;
}

.products {
    grid-row: 2;
    grid-column: 2;
    margin: 10px;
    display: flex;
}

.product-card {
    box-shadow: 0 4px 24px lightgrey;
    border-radius: .5em;
    height: max-content;
    width: max-content;
    overflow: hidden;
    margin: 0 .75em .75em .75em;
    text-align: center;
}

.category {
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: .5em 0 .5em .5em;
    word-wrap: break-word;
}

.category:hover {
    cursor: pointer;
    background-color: white;
}

.category_box {
    background-color: #f2f2f2;
}

.add_form {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
    grid-column: 1;
    margin-left: 3em;
    margin-top: 1em;
}

input:not([type="file"]) {
    border: 2px solid var(--gray-2);
    padding: 1em .25em;
    color: black;
}  

.addproduct{
    background-color: #b6d9a7;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.addproduct:hover {
    cursor: pointer;
    font-weight: bold;
}

.addproduct:active{
    background-color: #e7f2e4;
}

.input_boarder {
    border: 1px solid #686968;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .unit {
    background-color: #e7f2e4;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.unit:hover {
    background-color: #b6d9a7;
    cursor: pointer;
    font-weight: bold;
}

.unit:active {
    background-color: #b6d9a7;
    font-weight: bold;
}
